/* fade-in-from-top */
.fade-in-from-top-enter-active,
.fade-in-from-top-leave-active {
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.fade-in-from-top-enter,
.fade-in-from-top-leave-to {
  transform: translateY(-6px);
  opacity: 0;
  visibility: hidden;
}